@{
	Layout = "~/Areas/Flights/Views/Shared/_LayoutFlight.cshtml";

}

@section files{
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>	
<!-- //custom-theme files-->
<link href="~/cssflight/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/cssflight/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //custom-theme files-->
<link href="~/cssflight/simpleLightbox.css" rel="stylesheet" type="text/css" />
<!-- font-awesome-icons -->
<link href="~/cssflight/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<!-- googlefonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">

}


<!-- gallery -->
	<div class="banner-bottom gallery">
		<div class="container">
		<div class="wthree_head_section">
				<h2 class="w3l_header">Our <span>Gallery</span></h2>
				<p>A travel agency is a private retailer or public service that provides travel and tourism related services to the public on behalf of suppliers such as activities.</p>
			</div>
			<div class="w3ls_gallery_grids">
				<div class="col-md-4 w3_agile_gallery_grid">
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/imageflight/g1.jpg">
							<div class="agile_gallery_grid1">
								<img src="~/imageflight/g1.jpg" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Travel</h3>
									<p> Transport</p>
								</div>
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/imageflight/g2.jpg">
							<div class="agile_gallery_grid1">
								<img src="~/imageflight/g2.jpg" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Travel</h3>
									<p> Transport</p>
								</div>
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/imageflight/g3.jpg">
							<div class="agile_gallery_grid1">
								<img src="~/imageflight/g3.jpg" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Travel</h3>
									<p> Transport</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_agile_gallery_grid">
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/imageflight/g10.jpg">
							<div class="agile_gallery_grid1">
								<img src="~/imageflight/g10.jpg" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Travel</h3>
									<p> Transport</p>
								</div>
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/imageflight/g12.jpg">
							<div class="agile_gallery_grid1">
								<img src="~/imageflight/g12.jpg" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Travel</h3>
									<p> Transport</p>
								</div>
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/imageflight/g6.jpg">
							<div class="agile_gallery_grid1">
								<img src="~/imageflight/g6.jpg" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Travel</h3>
									<p> Transport</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_agile_gallery_grid">
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/imageflight/g7.jpg">
							<div class="agile_gallery_grid1">
								<img src="~/imageflight/g7.jpg" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Travel</h3>
									<p> Transport</p>
								</div>
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/imageflight/g8.jpg">
							<div class="agile_gallery_grid1">
								<img src="~/imageflight/g8.jpg" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Travel</h3>
									<p> Transport</p>
								</div>
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/imageflight/g9.jpg">
							<div class="agile_gallery_grid1">
								<img src="~/imageflight/g9.jpg" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Travel</h3>
									<p> Transport</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
<!-- //gallery -->



@section scripts{
	<script type="text/javascript" src="~/jsflight/jquery-2.1.4.min.js"></script>
	<!-- for bootstrap working -->
	<script src="~/jsflight/bootstrap.js"></script>
	<!-- //for bootstrap working -->
<!-- //js -->
<!-- //here starts scrolling icon -->
<script src="~/jsflight/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="~/jsflight/move-top.js"></script>
	<script type="text/javascript" src="~/jsflight/easing.js"></script>
	<!-- here stars scrolling script -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling script -->
<!-- //here ends scrolling icon -->

<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->
<!-- simpleLightbox -->
		<script src="~/jsflight/simpleLightbox.js"></script>	<script>
		$('.w3_agile_gallery_grid a').simpleLightbox();
	</script>

}

